[Desktop Entry]
Name=ChatGPT Desktop
Comment=ChatGPT Desktop App (Launcher) - Vishwanath Tec Systems
Exec=chatgpt-launcher
Icon=chatgpt
Terminal=false
Type=Application
Categories=Utility;Network;
StartupWMClass=ChatGPT
